* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    min-width: 320px;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}


/* Intro section */

#intro {
    width: 100%;
    height: 100vh;
    background: #de2b24;
    display: table;
    padding: 0 0 130px 0;
}

.intro_inner {
    width: 100%;
    max-width: 360px;
    height: 125px;
    margin: 110px auto auto;
}

.intro_title {
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;
}

.intro_subtitle {
    font-size: 19px;
    font-weight: 300;
    color: #ffffff;
}

.intro_subtitle:after {
    content: "";
    display: block;
    width: 47px;
    height: 5px;
    background-color: #f3f3f3;
    margin: 18px auto;
}

.intro_blocks {
    width: 100%;
    min-width: 1024px;
    height: 100%;
    min-height: 508px;
    margin: 0 auto;
}

.block-inner {
    display: block;
    padding: 75px 40px;
    line-height: 0px;
}

.block_title {
    font-size: 26px;
    font-weight: 600;
    margin: 25px 0;
    color: #ffffff;
}

.block_subtitle {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}

.intro_block_image:hover,
.intro_block_title:hover {
    opacity: 0.7;
}

.intro_block1,
.intro_block3,
.intro_block6 {
    background: #f35e59;
    width: 256px;
    height: 253px;
    display: block;
    float: left;
}

.intro_block2,
.intro_block4,
.intro_block5,
.intro_block7 {
    float: left;
    overflow: hidden;
    margin: 0 auto;
    width: 256px;
    height: 253px;
    background-size: cover;
    background-position: center;
}

.intro_block2 img {
    transition: 0.5s all ease-in-out;
    position: relative;
    right: 110px;
}

.intro_block4 img,
.intro_block5 img,
.intro_block7 img {
    transition: 0.5s all ease-in-out;
    position: relative;
    right: 75px;
}

img {
    max-width: auto;
    height: 100%;
}

.intro_block2:hover img,
.intro_block4:hover img,
.intro_block5:hover img,
.intro_block7:hover img {
    transform: scale(1.3);
}

.intro_block8 {
    background: #f35e59;
    width: 256px;
    height: 253px;
    display: block;
    float: left;
}


/* End intro section */


/* Facebook-analysis section */

#facebook-analysis {
    width: 100%;
    height: 100vh;
    min-height: 855px;
    background: #1287bf;
    display: table;
}

.fb-analysis-title {
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;
}

.fb-analysis-subtitle {
    font-size: 19px;
    font-weight: 300;
    color: #ffffff;
}

.fb-analysis-inner {
    width: 100%;
    max-width: 680px;
    min-height: 75px;
    margin: 100px auto auto;
}

.circle {
    content: "";
    display: block;
    width: 58px;
    height: 58px;
    border-radius: 29px;
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid #ffffff;
    margin: 20px auto;
}

.arrow {
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 7px;
    margin: 14px 10px;
}

.down {
    transform: rotate(45deg);
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 30px 30px;
    border-color: transparent transparent #ffffff transparent;
    margin: 0px auto;
}

.field-container {
    content: "";
    display: block;
    width: 690px;
    height: 450px;
    border-radius: 3px;
    background-color: #ffffff;
    margin: 0px auto;
    position: relative;
    bottom: 46px;
}

.close-char {
    font-size: 32px;
    color: #ffffff;
    font-weight: 300;
}

.close-circle {
    position: relative;
    z-index: 1;
    bottom: 20px;
    left: 340px;
    width: 45px;
    height: 45px;
    border-radius: 23px;
    background-color: #de2b24;
    border: 2px solid #ffffff;
    margin: 0 auto;
}

.field-container-title {
    position: relative;
    font-size: 15px;
    line-height: 22px;
    color: #828282;
    font-family: 'Arimo', sans-serif;
    margin: 0px auto;
    padding: 50px 65px 40px;
    word-wrap: break-word;
}

.input-form {
    margin: 0px auto;
}

.input {
    width: 443px;
    height: 50px;
    border-radius: 3px;
    background-color: rgba(241, 241, 241, 0);
    border: 1px solid #b0b0b0;
    margin: 5px auto;
    padding: 20px;
    font-size: 14px;
    line-height: 60px;
    font-family: 'Arimo', sans-serif;
}

.input:hover {
    border: 1px solid #1287bf;
}

input::placeholder {
    color: #b0b0b0;
}

.input:focus {
    outline: none;
    border: 1px solid #1287bf;
    box-shadow: 0px 0px 3px 0px #1287bf;
}

.btn-input {
    width: 161px;
    height: 46px;
    border-radius: 3px;
    background-color: #de2b24;
    border: 0px;
    margin: 30px auto auto;
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
}

.btn-input:hover {
    opacity: 0.8;
    cursor: pointer;
}

.btn-input:focus {
    outline: none;
}


/* End facebook-analysis section */


/* Contacts section */

#contacts {
    background: #2a2a2a;
    width: 100%;
    height: 490px;
    display: table;
}

.contacts-title {
    font-size: 29px;
    font-weight: 600;
    color: #ffffff;
    margin: 90px auto 30px;
}

.btn {
    margin: 0 10px;
    width: 45px;
    height: 45px;
    border-radius: 1px;
    background-color: rgba(243, 243, 243, 0);
    border: 2px solid #515151;
}

.btn:hover,
.btn:focus {
    outline: none;
    cursor: pointer;
    border: 2px solid #de2b24;
}

.btn img {
    background-size: cover;
    background-position: center;
    padding: 10px;
}

.google-btn img,
.twitter-btn img,
.linkedin-btn img {
    position: relative;
    right: 5px;
}

.contacts-subtitle {
    margin: 30px auto;
    font-size: 14px;
    line-height: 22px;
    color: #cecece;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
}

.input-email {
    outline: none;
    width: 67%;
    height: 54px;
    border-radius: 1px;
    background-color: #515151;
    padding: 20px;
    border: 0;
    color: #ffffff;
}

.input-email:hover,
.input-email:focus {
    opacity: 0.9;
}

.btn-subscribe {
    margin: 25px auto 80px;
    width: 149px;
    height: 49px;
    border-radius: 1px;
    background-color: rgba(243, 243, 243, 0);
    border: 2px solid #515151;
    font-size: 17px;
    line-height: 22px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Arimo', sans-serif;
    text-align: center;
}

.btn-subscribe:hover {
    opacity: 0.8;
    cursor: pointer;
}

.btn-subscribe:focus {
    outline: none;
}


/* End contacts section */


/* Footer section */

#footer {
    background: #515151;
    width: 100%;
    height: 67px;
    padding: 20px;
    display: table;
}

.copyright {
    font-size: 14px;
    line-height: 27px;
    color: #cecece;
    font-weight: 400;
    font-family: "Open Sans";
}


/* End footer section */


/* Media Query For Tablet */

@media only screen and (max-width: 1044px) {
    .intro_blocks {
        width: 512px;
        min-width: 512px;
        height: 100%;
        min-height: auto;
        margin: 0 auto;
    }
    .container {
        max-width: 512px;
        margin: 0 auto;
    }
    .field-container {
        width: 100%;
    }
    .close-circle {
        bottom: 20px;
        left: 250px;
    }
}


/* End Media Query For Tablet */


/* Media Query For Mobile */

@media only screen and (max-width: 560px) {
    .intro_blocks {
        width: 260px;
        min-width: 260px;
        height: 100%;
        min-height: auto;
        margin: 0 auto;
    }
    .container {
        max-width: 260px;
        margin: 0 auto;
    }
    .btn {
        margin: 0 5px;
    }
    .close-circle {
        bottom: 20px;
        left: 125px;
    }
    .field-container {
        width: 100%;
        height: auto;
        margin: 0px auto 50px;
        padding-bottom: 45px;
    }
    .input-form {
        padding: 0 15px 30px;
    }
    .input {
        width: auto;
    }
    .field-container-title {
        padding: 50px 25px 40px;
    }
}


/* End Media Query For Mobile */